{{#if loggedIn}}
<h2 class="header-CSS" style="text-align: center;">Job Listings</h2>
<div class="d-grid    container-fluid  col-10 ">
  <button class="btn border btn-CSS2 shadow justify-content-center rounded-pill " type="button">Create new Job
    Listing</button>
</div>
<section class="CreateJob justify-content-center">
  <div class="round border justify-content-center container-CSS shadow container col-11">
    <h1>CREATE YOUR JOB POST</h1>
    <p>please fill out all questions</p>
    <b>What is the name of your company?</b>

    <input class="form-control postCompany" type="text" placeholder="Default input" aria-label="default input example">
    <b>What is the salary of the position?</b>

    <input class="form-control postSalary" type="text" placeholder="Default input" aria-label="default input example">
    <b>Provide your email here:</b>

    <input class="form-control postEmail" type="text" placeholder="Default input" aria-label="default input example">

    <b>Years of experince needed?</b>

    <input class="form-control postExperience " type="text" placeholder="Default input"
      aria-label="default input example">

    <b>job postion </b>

    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option selected>Open this select menu</option>
      <option value="FULL STACK">FULL STACK</option>
      <option value="BACK END">BACK END</option>
      <option value="FRONT END">FRONT END</option>
    </select>

    <b>job description</b>

    <textarea class="form-control postDescription" placeholder="Leave a short job description" id="floatingTextarea2"
      style="height: 100px"></textarea>
    <B></B>
    <img class="saveJobPosting " src="/svgs/add-animal-cat-svgrepo-com.svg" alt="">
  </div>
  </div>
</section>
<div class="row justify-content-center jobListContainer ">
  {{#each mutijobs as |job|}}
  <div class=" rounded border container-CSS shadow container col-11">
    <h2>{{job.Job_Title}} <img src="/svgs/job-info-svgrepo-com.svg" alt="">
    </h2>
    <ul style="list-style: none;">
      <li> <b> Salary:</b></li>
      <li>{{job.Salary_Range}}</li>
      <li class="34"><b> Employers email:</b></li>
      <li>{{job.Office_Location}}</li>
      <li><b> Description:</b></li>
      <li>{{job.Description}}</li>
       <li><b> Years of experince required:</b></li>
      <li>{{job.Years_of_Experience}}</li>
      <li class="SaveSpecficId"><img src="/svgs/love-svgrepo-com.svg" alt="" data-value="{{dish.id}}"></li>
    </ul>

  </div>
  {{/each}}

</div>
<script src="/js/resultpage.js"></script>

{{else}}
<section class="sectionREOUTE">
<a href="/login"   please login></a>
</section>
<img src="/svgs/love-svgrepo-com.svg" alt="" srcset="">
{{/if}}
{{!-- </div> --}}